<h1>Metrics</h1>

<script type="text/x-handlebars">
  {{ view Tass.ListMetricsView }}
</script>

<script type="text/javascript">
  $(function() {
    Tass.metricsController.loadAll(<%= @metrics.to_json.html_safe %>);
  });
</script>

